[Desktop Entry]
Type=Service
Icon=kup

X-KDE-PluginInfo-Author=Simon Persson
X-KDE-PluginInfo-Email=simon.persson@mykolab.com
X-KDE-PluginInfo-Name=org.kde.kupapplet
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://github.com/spersson/kup
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-Plasma-DBusActivationService=org.kde.kupdaemon

Name=Backup Status
Name[de]=Zustand des Backups
Name[pt_BR]=Estado do backup
Name[sv]=Säkerhetskopiornas status
Name[zh_TW]=備份狀態
Comment=Displays status of backup plans
Comment[de]=Status der Backupkonfigurationen anzeigen
Comment[pt_BR]=Exibe o estado dos planos de backup
Comment[sv]=Visar status för säkerhetskopior
Comment[zh_TW]=顯示備份計畫的狀態
