[Desktop Entry]
Exec=kcmshell4 kcm_kup
Icon=chronometer
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system-administration

Name=Backups
Name[de]=Datensicherungen
Name[es]=Copias de seguridad
Name[fr_FR]=Sauvegardes
Name[it]=Backup
Name[pl]=Kopie zapasowe
Name[pt_BR]=Backups
Name[ru]=Резервные копии
Name[sv]=Säkerhetskopior
Name[tl]=Mga seguridad na kopya
Comment=Configure backup plans
Comment[de]=Datensicherungen konfigurieren
Comment[es]=Configurar planes de copias de seguridad
Comment[fr_FR]=Configurer les plans de sauvegarde
Comment[it]=Configura i piani di backup
Comment[pl]=Konfiguruj plany kopii zapasowych
Comment[pt_BR]=Configurar planos de backup
Comment[ru]=Настроить планы резервного копирования
Comment[sv]=Konfigurera planer för säkerhetskopiering
Comment[tl]=Magkompigura ng plano para sa seguridad na kopya
X-KDE-Keywords=backup,recovery,safety
X-KDE-Keywords[de]=Datensicherung, Wiederherstellung, Sicherheit
X-KDE-Keywords[es]=copia de seguridad, recuperación, seguridad
X-KDE-Keywords[fr_FR]=sauvegarde,restauration,sécurité
X-KDE-Keywords[it]=backup, ripristino, sicurezza
X-KDE-Keywords[pt_BR]=backup, recuperação, segurança
X-KDE-Keywords[ru]=резервное копирование,восстановление,безопасность
X-KDE-Keywords[sv]=säkerhetskopior,återställning,backup
X-KDE-Keywords[tl]=seguridad na kopya, pagkabawi,kaligtasan
