[Desktop Entry]
Exec=kcmshell5 kcm_kup
Icon=kup
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=personalization

_Name=Backups
_Comment=Configure backup plans
_X-KDE-Keywords=backup,recovery,safety
