[Desktop Entry]
Exec=kcmshell4 kcm_kup
Icon=chronometer
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system-administration

_Name=Backups
_Comment=Configure backup plans
_X-KDE-Keywords=backup,recovery,safety
