[Desktop Entry]
Exec=kcmshell5 kcm_kup
Icon=kup
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kup
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=personalization

Name=Backups
Name[bs_BA]=Backupi
Name[da]=Backupper
Name[de]=Datensicherungen
Name[es]=Copias de seguridad
Name[fr_FR]=Sauvegardes
Name[it]=Backup
Name[lt_LT]=Atsarginės kopijos
Name[pl]=Kopie zapasowe
Name[pt_BR]=Backups
Name[ru]=Резервные копии
Name[sv]=Säkerhetskopior
Name[tl]=Mga seguridad na kopya
Name[zh_TW]=備份
Comment=Configure backup plans
Comment[bs_BA]=Podesite backup plan
Comment[da]=Indstil backupplaner
Comment[de]=Datensicherungspläne konfigurieren
Comment[es]=Configurar planes de copias de seguridad
Comment[fr_FR]=Configurer les plans de sauvegarde
Comment[it]=Configura i piani di backup
Comment[lt_LT]=Konfigūruoti atsarginių kopijų planus
Comment[pl]=Konfiguruj plany kopii zapasowych
Comment[pt_BR]=Configurar planos de backup
Comment[ru]=Настроить планы резервного копирования
Comment[sv]=Konfigurera planer för säkerhetskopiering
Comment[tl]=Magkompigura ng plano para sa seguridad na kopya
Comment[zh_TW]=設定備份計畫
X-KDE-Keywords=backup,recovery,safety
X-KDE-Keywords[bs_BA]=rezervna kopija, oporavak, sigurnost
X-KDE-Keywords[da]=backup,gendannelse,sikkerhed
X-KDE-Keywords[de]=Datensicherung,Wiederherstellung,Sicherheit
X-KDE-Keywords[es]=copia de seguridad, recuperación, seguridad
X-KDE-Keywords[fr_FR]=sauvegarde,restauration,sécurité
X-KDE-Keywords[it]=backup, ripristino, sicurezza
X-KDE-Keywords[lt_LT]=kopijos,atkūrimas,saugumas
X-KDE-Keywords[pl]=kopia,odzyskiwanie,bezpieczeństwo
X-KDE-Keywords[pt_BR]=backup, recuperação, segurança
X-KDE-Keywords[ru]=резервное копирование,восстановление,безопасность
X-KDE-Keywords[sv]=säkerhetskopior,återställning,backup
X-KDE-Keywords[tl]=seguridad na kopya, pagkabawi,kaligtasan
X-KDE-Keywords[zh_TW]=備份、還原、安全
