[Desktop Entry]
Exec=kup-filedigger
Icon=kup
Type=Application
Categories=FileManager;Utility;Qt;KDE;
X-KDE-StartupNotify=true


Name=Filedigger
GenericName=Backup Archive Explorer
Comment=Use Filedigger to restore files or entire folders from a saved backup in the "bup" format.
X-KDE-Keywords=backup,recovery,safety,restore,recover
